<p><%= @task.title&.capitalize %></p>
<p><%= @task.details&.capitalize %></p>
<p><%= @task.completed %></p>
<%= link_to "Edit Task", edit_task_path %>
<%= link_to "Delete Task",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<%= link_to 'Back', tasks_path %>
